.Card-style {
  /* width: 100%; */
  background-color: white;
  /* min-height: 100vh; */
  /* display: flex; */
  flex-direction: row;
  margin-left: 10px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  justify-content: flex-start;
  padding: 1.2em;
  margin-top: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
}
.cost-panel {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}
.cost-panel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
}
.cost-panel-title {
  display: flex;
  flex-direction: row;
}
.cost-panel-title label {
  font-weight: bold;
}
